How can my Muse want subject to invent,
While thou dost breathe, that pour'st into my verse
Thine own sweet argument, too excellent
For every vulgar paper to rehearse?

어떻게 내 뮤즈가 발명 될 수 원하는 수 있습니다,
그대가 숨 느냐하는 동안, 나의 절에 pour'st
네 자신의 달콤한 인수도 우수
모든 저속한 신문은 연습하기 위해?

О, дайте поступаешь благодарность, если во мне нечто
Достойный прочтение противостоять лицем Твоим;
Ибо кто настолько глуп, что не могу писать тебе,
Когда ты сам творишь дать изобретение свет?